.Header{
    background-color: lightgrey;
    display: flex;
    height: 3rem;
    width: 100%;
    text-align: center;
    font-style: italic;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header-icon{
    width: 12rem;
    display: flex;
    align-items: left;
}
.header-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}