.SidebarItem{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    font-weight: 400;
    font-size: large;
    padding-left: 1rem;
}
.SidebarItem:hover{
    background-color: #717171;
    cursor: pointer;
    color: white;
}